{
	"presets": ["@babel/preset-env"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"src": "./src",
					"config": "./src/config",
					"controllers": "./src/controllers",
					"data-access": "./src/data-access",
					"database": "./src/database",
					"env": "./src/env",
					"models": "./src/models",
					"routes": "./src/routes",
					"use-cases": "./src/use-cases"
				}
			}
		]
	]
}
